**/.agents
**/.codex
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.idea
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/artifacts
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/docs
**/node_modules
**/npm-debug.log
**/obj
**/postman
**/scripts
**/secrets.dev.yaml
**/tests
**/values.dev.yaml
LICENSE
README.md
